@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firacode/v7/uU9eCBsR6Z2vfE9aq3bL0fxyUs4tcw4W_D1sJVD7Mw.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firacode/v7/uU9eCBsR6Z2vfE9aq3bL0fxyUs4tcw4W_ONrJVD7Mw.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firacode/v7/uU9eCBsR6Z2vfE9aq3bL0fxyUs4tcw4W_NprJVD7Mw.ttf) format('truetype');
}
* {
  box-sizing: border-box;
  font-family: 'Fira Code', monospace;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}
body {
  margin: 0px;
  background: #eee;
}
#main {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding: 20px;
}
#main #main_inner {
  position: relative;
  width: 100%;
  height: auto;
}
#main #main_inner #menu {
  position: relative;
  float: left;
  width: 100%;
  height: 60px;
  background: #333;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}
#main #main_inner #menu #inventories {
  float: left;
  width: auto;
  height: 100%;
}
#main #main_inner #menu #inventories .inventory {
  float: left;
  min-width: 100px;
  width: auto;
  height: 100%;
  margin-right: 10px;
  padding: 10px;
  color: white;
  text-align: center;
  border-radius: 40px;
  cursor: pointer;
}
#main #main_inner #menu #inventories .inventory .name {
  color: white;
  font-size: 12pt;
}
#main #main_inner #menu #inventories .inventory:hover {
  background: rgba(255, 255, 255, 0.2);
}
#main #main_inner #menu #inventories .inventory:active {
  background: rgba(255, 255, 255, 0.1);
}
#main #main_inner #menu #inventories #default {
  background: #08f;
}
#main #main_inner #menu #inventories #add {
  float: left;
  height: 100%;
  min-width: 0px;
  width: 40px !important;
  padding: 10px;
  text-align: center;
  color: white;
  background: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}
#main #main_inner #menu #inventories #add:hover {
  background: rgba(255, 255, 255, 0.4);
}
#main #main_inner #menu #inventories #add:active {
  background: rgba(255, 255, 255, 0.2);
}
#main #main_inner #menu #user {
  float: right;
  width: 150px;
  height: 100%;
  background: #777;
  padding: 5px;
  border-radius: 40px;
  overflow: hidden;
  cursor: pointer;
}
#main #main_inner #menu #user #profile {
  width: 100%;
  height: 100%;
  border-radius: 40px;
  overflow: hidden;
}
#main #main_inner #menu #user #profile:hover {
  background: rgba(255, 255, 255, 0.2);
}
#main #main_inner #menu #user #profile img {
  float: left;
  border-radius: 40px;
  height: 100%;
}
#main #main_inner #menu #user #profile span {
  color: white;
  width: calc(100% - 30px);
  height: 100%;
  float: left;
  font-size: 10pt;
  padding: 7px;
  padding-left: 10px;
}
#main #main_inner #content {
  float: left;
  width: 100%;
  height: auto;
  min-height: 400px;
  background-color: #ddd;
  padding: 30px;
  border-radius: 5px;
}
#main #main_inner #content #inventory {
  float: left;
}
#main #main_inner #content #inventory .item {
  float: left;
  width: 120px;
  height: 30px;
  padding: 4px 7px;
  background-color: white;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
#main #main_inner #content #inventory .item .name {
  font-size: medium;
}
#main #main_inner #content #inventory .item .amount {
  margin-top: 2px;
  float: right;
  font-size: small;
}
#main #main_inner #content #inventory .item .amount::after {
  content: 'x';
}
#login {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: black;
}
#login #form {
  position: fixed;
  width: 300px;
  height: 200px;
  margin-left: -150px;
  margin-top: -100px;
  left: 50%;
  top: 50%;
}
#login #form input {
  width: 100%;
  height: 40px;
  padding: 10px;
  border: none;
  margin-bottom: 10px;
  font-size: 12pt;
  outline: none;
}
#login #form input[type='password'] {
  letter-spacing: 0.5em;
}
#login #form input[type='submit'] {
  color: white;
  background: #08f;
  cursor: pointer;
}
#login #form input[type='submit']:hover {
  background: #33a0ff;
}
#login #form input[type='submit']:active {
  background: #66b8ff;
}
#login #form input#signup {
  color: white;
  background: transparent;
  border: 1px solid #005299;
  cursor: pointer;
}
#login #form input#signup:hover {
  border: 1px solid #006dcc;
}
#login #form input#signup:active {
  border: 1px solid #007ae6;
}
