#cashier {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 20px;
}
#cashier #cashiermain {
  float: left;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 5px;
}
#cashier #cashiermain #list {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
  float: left;
  width: 400px;
  height: 100%;
  overflow: hidden;
  border-radius: 5px;
}
#cashier #cashiermain #list #history {
  position: relative;
  top: 0px;
  float: left;
  width: 100%;
  height: 80px;
  background-color: var(--box-background);
  cursor: default;
  border-radius: 5px;
}
#cashier #cashiermain #list #history #past {
  float: left;
  width: 100%;
  height: calc(40%);
  padding: 7px;
  text-align: right;
  opacity: 0.4;
}
#cashier #cashiermain #list #history #current {
  float: left;
  width: 100%;
  height: calc(60%);
  padding: 7px 15px;
}
#cashier #cashiermain #list #history #current .item {
  width: 100%;
  font-size: 20pt;
  font-weight: bold;
}
#cashier #cashiermain #list #history #current .item .amount {
  width: 40px;
  height: 100%;
  float: left;
  color: var(--box-color-strong);
  opacity: 0.5;
}
#cashier #cashiermain #list #history #current .item .amount::after {
  content: 'x';
}
#cashier #cashiermain #list #history #current .item .amount:empty::after {
  content: '';
}
#cashier #cashiermain #list #history #current .item .title {
  width: calc(100% - 140px);
  height: 100%;
  float: left;
  color: var(--box-color-strong);
}
#cashier #cashiermain #list #history #current .item .price {
  width: 100px;
  height: 100%;
  float: right;
  color: var(--box-color-strong);
  text-align: right;
}
#cashier #cashiermain #list #items {
  float: left;
  width: 100%;
  height: calc(100% - 190px);
  padding: 7px 0px;
  border-radius: 5px;
  overflow: hidden;
}
#cashier #cashiermain #list #items .item {
  width: 100%;
  padding: 10px;
  background-color: var(--box-background);
  border-radius: 5px;
  margin-bottom: 7px;
  overflow: hidden;
  height: 60px;
  transition: all 0.1s ease-in-out;
}
#cashier #cashiermain #list #items .item.open {
  height: 110px;
}
#cashier #cashiermain #list #items .item.open .information {
  border-bottom: 2px dashed var(--accent-color);
}
#cashier #cashiermain #list #items .item.open .options {
  opacity: 1;
}
#cashier #cashiermain #list #items .item .information {
  width: 100%;
  height: 40px;
  cursor: pointer;
  font-size: 16pt;
}
#cashier #cashiermain #list #items .item .information .title {
  width: auto;
  max-width: calc(100% - 140px);
  height: 100%;
  float: left;
  color: var(--box-color-strong);
  padding: 5px;
}
#cashier #cashiermain #list #items .item .information .type {
  width: 40px;
  height: 100%;
  float: left;
  color: var(--box-color-low);
  padding: 5px;
}
#cashier #cashiermain #list #items .item .information .price {
  width: 100px;
  height: 100%;
  float: right;
  color: var(--box-color-strong);
  text-align: right;
  padding: 5px;
}
#cashier #cashiermain #list #items .item .options {
  width: 100%;
  height: 50px;
  padding: 15px 10px;
  opacity: 0;
  transition: all 0.1s ease-in-out;
}
#cashier #cashiermain #list #items .item .options .left {
  float: left;
  width: auto;
  max-width: 50%;
  height: 100%;
}
#cashier #cashiermain #list #items .item .options .left button {
  float: left;
  margin-right: 20px;
}
#cashier #cashiermain #list #items .item .options .right {
  float: right;
  width: auto;
  max-width: 50%;
  height: 100%;
}
#cashier #cashiermain #list #items .item .options .right button {
  float: right;
  margin-left: 20px;
}
#cashier #cashiermain #list #items .item .options button {
  cursor: pointer;
  width: auto;
  padding: 0px;
  background: transparent;
  outline: none;
  opacity: 0.6;
  transition: all 0.05s ease-in-out;
}
#cashier #cashiermain #list #items .item .options button:not(:disabled):hover {
  opacity: 0.8;
}
#cashier #cashiermain #list #items .item .options button:not(:disabled):active {
  opacity: 1;
  transform: scale(0.9);
}
#cashier #cashiermain #list #items .item .options button:not(:disabled):focus {
  opacity: 1;
}
#cashier #cashiermain #list #items .item .options .delete {
  color: #d91e18;
}
#cashier #cashiermain #list #items .item .options .edit {
  color: var(--box-color-strong);
}
#cashier #cashiermain #list #total {
  position: relative;
  top: 100%;
  margin-top: -100px;
  width: 100%;
  height: 100px;
  background-color: var(--background);
}
#cashier #cashiermain #list #total #total_inner {
  width: 100%;
  height: 100px;
  background-color: var(--accent-color);
  border-radius: 5px;
}
#cashier #cashiermain #list #total #total_inner #currency {
  position: absolute;
  top: 0px;
  float: left;
  width: 50%;
  height: 100%;
  padding: 30px;
  line-height: 20px;
  font-size: 20px;
  color: var(--box-color-low);
}
#cashier #cashiermain #list #total #total_inner #currency #selector {
  outline: none;
  background: transparent;
  border: none;
  padding: 5px;
  color: var(--background-dark);
}
#cashier #cashiermain #list #total #total_inner #price {
  position: absolute;
  top: 0px;
  right: 0px;
  float: right;
  width: 50%;
  height: 100%;
  padding: 35px 10px;
  line-height: 205x;
  font-size: 25px;
  text-align: right;
}
#cashier #cashiermain #list #total #total_inner #price::before {
  content: 'Total: ';
  position: relative;
}
#cashier #cashiermain #list #total #total_inner #price:empty::before {
  content: 'Total: 0.00';
  position: relative;
}
.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
}
body[dark] #cashier #cashiermain #list #history {
  background-color: var(--box-background-light);
}
body[dark] #cashier #cashiermain #list #history #current .item .amount {
  color: var(--box-color-strong-light);
}
body[dark] #cashier #cashiermain #list #history #current .item .title {
  color: var(--box-color-strong-light);
}
body[dark] #cashier #cashiermain #list #history #current .item .price {
  color: var(--box-color-strong-light);
}
body[dark] #cashier #cashiermain #list #items .item {
  background-color: var(--box-background-light);
}
body[dark] #cashier #cashiermain #list #items .item.open .information {
  border-color: var(--accent-color-light);
}
body[dark] #cashier #cashiermain #list #items .item .information .title {
  color: var(--box-color-strong-light);
}
body[dark] #cashier #cashiermain #list #items .item .information .type {
  color: var(--box-color-low-light);
}
body[dark] #cashier #cashiermain #list #items .item .information .price {
  color: var(--box-color-strong-light);
}
body[dark] #cashier #cashiermain #list #items .item .options .left button {
  color: var(--background);
}
body[dark] #cashier #cashiermain #list #items .item .options .delete {
  color: #f64747;
}
body[dark] #cashier #cashiermain #list #items .item .options .edit {
  color: var(--box-color-strong-light);
}
body[dark] #cashier #cashiermain #list #total {
  background-color: var(--background-dark);
}
body[dark] #cashier #cashiermain #list #total #total_inner {
  background-color: var(--accent-color-light);
}
body[dark] #cashier #cashiermain #list #total #total_inner #currency {
  color: var(--box-color-low-light);
}
body[dark] #cashier #cashiermain #list #total #total_inner #currency #selector {
  color: var(--background);
}
