<div id="tabs">
    <div class="tab" page="status">
        <div class="title">Status</div>
    </div>
    <div class="tab" page="testing">
        <div class="title">Testing</div>
    </div>
    <div class="tab" page="codes">
        <div class="title">Codes</div>
    </div>
</div>
