<div id="tabs">
    <div class="tab">
        <div class="title">Status</div>
    </div>
    <div class="tab">
        <div class="title">Testing</div>
    </div>
    <div class="tab">
        <div class="title">Codes</div>
    </div>
</div>