<div id="main" class="hidden">
    <div id="main_inner">
        <%- include('menu'); %>
    </div>
    <%- include(`bodies/${content}/content`, {});%>
</div>
<div id="loader">
    <div id="loaderbox">
        <div id="loadinganimation">
            <div id="laholder">
                <div id="la"></div>
            </div>
        </div>
        <div id="loadingtext">loading...</div>
    </div>
</div>
<div id="prompter">
    <div id="inputholder">
        <input type="text" id="userinput" />
        <button id="ok" class="accept material-icons">check</button>
        <button id="cancel" class="cancel material-icons">close</button>
    </div>
</div>
