<head>
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <meta http-equiv="cache-control" content="no-cache" />
    <title>Geeo</title>
    <!-- Insert this line above script imports  -->
    <script>
        if (typeof module === 'object') {
            window.module = module;
            module = undefined;
        }
    </script>
    <script defer src="/scripts/jquery.js"></script>
    <% if(scripts) { %> <% scripts.forEach(function(script){ %>
    <script defer src="<%= script %>"></script>
    <% }); %> <% } %>
    <script>
        if (window.module) module = window.module;
    </script>
    <% if(themes) { %> <% themes.forEach(function(theme){ %>
    <link rel="stylesheet" href="<%= theme %>" />
    <% }); %> <% } %>
</head>
