<div id="menu">
    <div id="inventories" hidden></div>

    <div id="optionals" hidden>
        <div id="loading" class="circle">
            <div id="loadercircle"></div>
        </div>
        <div id="add" class="circle material-icons">add</div>
    </div>

    <div id="bottom">
        <div id="mode" class="settingoption material-icons" state="light">
            brightness_2
        </div>
        <div class="settingoption" id="switcher" state="cashier">
            <div id="state"></div>
        </div>
        <div class="settingoption" id="user">
            <div id="profile" class="material-icons">account_box</div>
        </div>
    </div>
</div>
