<div id="content">
    <div class="mod" class="overlay hidden">
        <link rel="stylesheet" href="/themes/api.css" />
        <div id="wrapper">
            <%- include("mods/tabs"); %>
            <%- include("mods/section"); %>
        </div>
    </div>
    <div id="inventory" class="overlay "></div>
</div>
