<div id="menu">
    <div id="bottom">
        <div id="mode" class="settingoption material-icons" state="light">
            brightness_2
        </div>
        <div class="settingoption" id="user">
            <div id="profile" class="material-icons">account_box</div>
        </div>
    </div>
</div>
