<link rel="stylesheet" href="/themes/cashier_<%= mode %>.css">
<div id="cashier">
    <div id="cashiermain">
        <div id="list">
            <div id="current"></div>
            <div id="items">
                <div class="item">
                    <div class="title"></div>
                    <div class="price"></div>
                    <div class="options"></div>
                </div>
                <div class="item">
                    <div class="title"></div>
                    <div class="price"></div>
                    <div class="options"></div>
                </div>
                <div class="item">
                    <div class="title"></div>
                    <div class="price"></div>
                    <div class="options"></div>
                </div>
                <div class="item">
                    <div class="title"></div>
                    <div class="price"></div>
                    <div class="options"></div>
                </div>
                <div class="item">
                    <div class="title"></div>
                    <div class="price"></div>
                    <div class="options"></div>
                </div>
                <div class="item">
                    <div class="title"></div>
                    <div class="price"></div>
                    <div class="options"></div>
                </div>
                <div class="item">
                    <div class="title"></div>
                    <div class="price"></div>
                    <div class="options"></div>
                </div>
                <div class="item">
                    <div class="title"></div>
                    <div class="price"></div>
                    <div class="options"></div>
                </div>
                <div class="item">
                    <div class="title"></div>
                    <div class="price"></div>
                    <div class="options"></div>
                </div>
                <div class="item">
                    <div class="title"></div>
                    <div class="price"></div>
                    <div class="options"></div>
                </div>
                <div class="item">
                    <div class="title"></div>
                    <div class="price"></div>
                    <div class="options"></div>
                </div>
            </div>
            <div id="total">
                <div id="total_inner">
                    <div id="currency">CHF</div>
                    <div id="price"></div>
                </div>
            </div>
        </div>
    </div>
</div>