<link rel="stylesheet" href="/themes/cashier.css" />
<script defer src="scripts/cashier.js"></script>
<div id="cashier">
    <div id="cashiermain">
        <div id="list">
            <div id="history">
                <div id="past">
                    <div class="item">0.00</div>
                </div>
                <div id="current">
                    <div class="item">
                        <div class="amount"></div>
                        <div class="title"></div>
                        <div class="price">0.00</div>
                    </div>
                </div>
            </div>
            <div id="items"></div>
            <div id="total">
                <div id="total_inner">
                    <div id="currency">
                        <select id="selector">
                            <option selected value="chf:hash">CHF</option>
                            <option value="euro:hash">Euro</option>
                        </select>
                    </div>
                    <div id="price">200.00</div>
                </div>
            </div>
        </div>
        <div id="input">
            <div id="scanner">
                <div id="waiting"></div>
                <div id=""></div>
            </div>
            <div id="manual"></div>
        </div>
    </div>
</div>
