<link rel="stylesheet" href="/themes/cashier_<%= mode %>.css">
<script defer src="/scripts/cashier.js"></script>
<div id="cashier">
    <div id="cashiermain">
        <div class="mode" id="scan">
            <div id="scanner">
                <div id="animation"></div>
                <div id="scannertext">Scan or click here</div>
            </div>
        </div>
        <div class="mode" id="display">
            <div id="list">
                <div id="current"></div>
                <div id="items">
                </div>
                <div id="total"></div>
            </div>
        </div>
        
    </div>
</div>