<div class="item">
    <div class="information">
        <div class="title"><%- title %></div>
        <div class="type"><%- type %></div>
        <div class="price"><%- price %></div>
    </div>
    <div class="options">
        <button class="material-icons delete">
            delete
        </button>
        <button class="material-icons edit">
            edit
        </button>
    </div>
</div>
