<div class="item">
    <div class="information">
        <div class="type"><%- type %></div>
        <div class="title"><%- title %></div>
        <div class="price"><%- price %></div>
    </div>
    <div class="options">
        <div class="left">
            <% if(typeof(info) != 'undefined') { %>
            <button disabled title="<%- info %>" class="material-icons">
                info
            </button>
            <% } %>
        </div>
        <div class="right">
            <button class="material-icons delete">
                delete
            </button>
            <button class="material-icons edit">
                edit
            </button>
        </div>
    </div>
</div>
