<link rel="stylesheet" href="/themes/cashier.css" />
<script defer src="scripts/cashier.js"></script>
<div id="cashier">
    <div id="cashiermain">
        <div id="list">
            <div id="history">
                <div id="past">
                    <div class="item">0.00</div>
                </div>
                <div id="current">
                    <div class="item">
                        <div class="amount"></div>
                        <div class="title"></div>
                        <div class="price">0.00</div>
                    </div>
                </div>
            </div>
            <div id="items"></div>
            <div id="total">
                <div id="total_inner">
                    <div id="currency">
                        <div
                            class="geeoselector"
                            title="Choose a currency"
                            data-value="CHF"
                            data-options="CHF,EUR,USD"
                        ></div>
                    </div>
                    <div id="price">0.00</div>
                </div>
            </div>
        </div>

        <div id="scanner">
            <div id="waiting" class="material-icons">
                track_changes
            </div>
        </div>
        <div id="input">
            <div id="manual">
                <div id="tab_selector"></div>
                <div id="keyboard" class="hidden">
                    <div class="key">7</div>
                    <div class="key">8</div>
                    <div class="key">9</div>
                    <div class="key">4</div>
                    <div class="key">5</div>
                    <div class="key">6</div>
                    <div class="key">1</div>
                    <div class="key">2</div>
                    <div class="key">3</div>
                    <div class="key hl material-icons">clear</div>
                    <div class="key">0</div>
                    <div class="key hl material-icons">add</div>
                </div>
            </div>
        </div>
    </div>
</div>
