<div id="main">
    <div id="main_inner">
        <%- include('menu'); %>
        <%  incs.forEach(function(inc){ %>
        <%-     include(inc); %>
        <%  });%>
    </div>
</div>
<div id="prompter">
    <div id="inputholder">
        <input type="text" id="userinput" />
        <button id="cancel" class="material-icons">close</button>
        <button id="ok" class="material-icons">check</button>
    </div>
</div>
