<div id="main">
    <div id="main_inner">
        <%- include('menu'); %>
        <%  incs.forEach(function(inc){ %>
        <%-     include(inc); %>
        <%  });%>
    </div>
</div>
<div id="prompter"></div>
