<% var modus = "dark"; %>
<html>
    <%- include('header', {username: username, scripts: ['main'], mode:modus});
    %>
    <body <%- modus %>
        > <%- include('app', {incs:['content'], mode:modus}); %>
    </body>
</html>
