<!DOCTYPE html>
<html lang="en">
    <%- include('header',{ scripts :["login"]}); %>
    <body>
        <div id="login">
            <form id="form" method="POST" action="http://localhost/auth/login" name="loginform">
                <input
                    type="text"
                    placeholder="Username"
                    name="username"
                    required
                />
                <input
                    type="password"
                    placeholder="Password"
                    name="password"
                    required
                />
                <input type="submit" value="Login" />
                <input type="button" value="Sign Up" id="signup" />
            </form>
        </div>
    </body>
</html>
