<div id="menu">
    <div id="inventories" hidden></div>

    <div id="optionals" hidden>
        <div id="loading" class="circle">
            <div id="loadercircle"></div>
        </div>
        <div id="add" class="circle material-icons">add</div>
    </div>

    <div id="switcher" state="cashier">
        <div id="state"></div>
    </div>
    <div id="mode" class="material-icons" state="<%- mode %>>">
        brightness_2
    </div>
    <div id="user">
        <div id="profile" class="material-icons">account_box</div>
    </div>
</div>
