<div id="menu">
    <div id="inventories">
    </div>
    
    <div id="optionals">

        <div id="loading" class="circle">
            <div id="loadercircle"></div>
        </div>
        <div id="add" class="circle material-icons">add</div>
        </div>
    
    <div id="switcher" state="overview">
        <div id="state"></div>
    </div>
    <div id="user">
        <div id="profile" class="material-icons">account_box</div>
    </div>
</div>
