<div id="main">
    <div id="main_inner">
        
        <form id="register" action="/register" method="post">
            <h2>Register</h2>
            <input type="text" name="username" id="username" placeholder="Username">
            <input type="password" name="password" id="password" placeholder="Password">
            <input type="text" name="firstname" id="firstname" placeholder="Firstname">
            <input type="text" name="lastname" id="lastname" placeholder="Lastname">
            <input type="email" name="email" id="email" placeholder="E-Mail">
            <input type="submit" value="Register!" id="regiterbutton">
        </form>
    </div>
</div>