@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(/fonts/MaterialIcons-Regular.woff2) format('woff2'), url(/fonts/MaterialIcons-Regular.woff) format('woff'), url(/fonts/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}
* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}
.disablehighlighting {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}
body {
  margin: 0px;
  background: #fff;
}
#main {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
#main #main_inner {
  position: relative;
  width: 100%;
  height: 100%;
}
#main #main_inner #menu {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  position: relative;
  float: left;
  width: 70px;
  height: 100%;
  background: transparent;
  padding: 10px;
}
#main #main_inner #menu #inventories {
  float: left;
  width: 50px;
  height: auto;
}
#main #main_inner #menu #inventories .inventory {
  vertical-align: middle;
  display: inline-table;
  float: left;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  color: black;
  background: #ddd;
  text-align: center;
  border-radius: 25px;
  margin-bottom: 10px;
  padding: 12px 10px;
  cursor: pointer;
}
#main #main_inner #menu #inventories .inventory:hover {
  background: #ccc;
}
#main #main_inner #menu #inventories .inventory:active {
  background: #c5c5c5;
}
#main #main_inner #menu #inventories .inventory.highlighted {
  background: #08f;
  color: white;
}
#main #main_inner #menu #inventories #add {
  float: left;
  height: 50px !important;
  width: 50px !important;
  text-align: center;
  cursor: pointer;
}
#main #main_inner #menu #user {
  position: absolute;
  bottom: 20px;
  width: 50px;
  height: 50px;
  background: #777;
  border-radius: 40px;
  overflow: hidden;
  cursor: pointer;
}
#main #main_inner #menu #user #profile {
  width: 100%;
  height: 100%;
  border-radius: 40px;
  overflow: hidden;
  text-align: center;
  color: white;
  padding: 12px 10px;
}
#main #main_inner #menu #user #profile:hover {
  background: #555;
}
#main #main_inner #content {
  position: absolute;
  left: 70px;
  width: calc(100% - 70px);
  height: 100%;
  min-height: 400px;
  background-color: transparent;
  padding: 30px;
}
#main #main_inner #content #inventory {
  float: left;
}
#main #main_inner #content #inventory .item {
  float: left;
  width: 120px;
  height: 30px;
  padding: 4px 7px;
  background-color: white;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
#main #main_inner #content #inventory .item .name {
  font-size: medium;
}
#main #main_inner #content #inventory .item .amount {
  margin-top: 2px;
  float: right;
  font-size: small;
}
#main #main_inner #content #inventory .item .amount::after {
  content: 'x';
}
#main #main_inner #register {
  position: fixed;
  width: 250px;
  height: 450px;
  top: 50%;
  left: 50%;
  margin-left: -125px;
  margin-top: -225px;
}
#main #main_inner #register h2 {
  text-align: center;
  width: 100%;
}
input {
  width: 100%;
  height: 50px;
  padding: 5px 20px;
  border: none;
  background: #ddd;
  margin-bottom: 10px;
  outline: none !important;
  border-radius: 5px;
  font-size: 13pt;
}
input:focus {
  background: #ccc;
}
input:last-child {
  margin-bottom: 0px;
}
input[type='submit'] {
  color: white;
  background: #08f;
  cursor: pointer;
}
input[type='submit']:hover {
  background: #33a0ff;
}
input[type='submit']:active {
  background: #66b8ff;
}
#login {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: #eee;
}
#login #form {
  position: fixed;
  width: 300px;
  height: auto;
  margin-left: -150px;
  margin-top: -115px;
  left: 50%;
  top: 50%;
}
#login #form input[type='text'] {
  background: #ccc;
  color: black;
}
#prompter {
  z-index: 999;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: #fff;
  display: none;
}
#prompter #input {
  position: absolute;
  top: 100px;
  left: 50%;
  margin-left: -100px;
  width: 200px;
  height: 40px;
  padding: 10px;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  outline: none;
}
#prompter #o {
  position: absolute;
  top: 150px;
  left: 50%;
  width: 90px;
  margin-left: -100px;
  height: 40px;
  padding: 10px;
  background: green;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#prompter #c {
  position: absolute;
  top: 150px;
  left: 50%;
  margin-left: 10px;
  width: 90px;
  height: 40px;
  padding: 10px;
  background: red;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
