@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(/fonts/MaterialIcons-Regular.woff2) format('woff2'), url(/fonts/MaterialIcons-Regular.woff) format('woff'), url(/fonts/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}
* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}
.disablehighlighting {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}
body {
  margin: 0px;
  background: #fff;
}
#main {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
#main #main_inner {
  position: relative;
  width: 100%;
  height: 100%;
}
#main #main_inner #menu {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  position: relative;
  float: left;
  width: 70px;
  height: 100%;
  background: transparent;
  padding: 10px;
}
#main #main_inner #menu #inventories,
#main #main_inner #menu #optionals {
  float: left;
  width: 50px;
  height: auto;
}
#main #main_inner #menu #inventories .circle,
#main #main_inner #menu #optionals .circle {
  vertical-align: middle;
  display: table-cell;
  float: left;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  color: black;
  background: #ddd;
  text-align: center;
  border-radius: 25px;
  margin-bottom: 10px;
  padding: 12px 10px;
  cursor: pointer;
}
#main #main_inner #menu #inventories .circle:hover,
#main #main_inner #menu #optionals .circle:hover {
  background: #ccc;
}
#main #main_inner #menu #inventories .circle:active,
#main #main_inner #menu #optionals .circle:active {
  background: #c5c5c5;
}
#main #main_inner #menu #inventories .circle.highlighted,
#main #main_inner #menu #optionals .circle.highlighted {
  background: #08f;
  color: white;
}
#main #main_inner #menu #inventories .circle.highlighted2,
#main #main_inner #menu #optionals .circle.highlighted2 {
  background: #ffd000;
  color: white;
}
#main #main_inner #menu #inventories #loading,
#main #main_inner #menu #optionals #loading {
  height: 50px !important;
  width: 50px !important;
  background: transparent;
  padding: 10px;
}
#main #main_inner #menu #inventories #loading #loadercircle,
#main #main_inner #menu #optionals #loading #loadercircle {
  width: 30px;
  height: 30px;
  display: inline-block;
  padding: 0px;
  border-radius: 100%;
  border: 2px solid;
  border-top-color: rgba(0, 0, 0, 0.65);
  border-bottom-color: rgba(0, 0, 0, 0.15);
  border-left-color: rgba(0, 0, 0, 0.65);
  border-right-color: rgba(0, 0, 0, 0.15);
  -webkit-animation: loader 0.8s linear infinite;
  animation: loader 0.8s linear infinite;
}
#main #main_inner #menu #inventories #add,
#main #main_inner #menu #optionals #add {
  float: left;
  height: 50px !important;
  width: 50px !important;
  text-align: center;
  cursor: pointer;
}
#main #main_inner #menu #switcher {
  position: absolute;
  bottom: 80px;
  width: 50px;
  height: 50px;
  background: transparent;
  border: 2px solid rgba(0, 136, 255);
  border-radius: 40px;
  overflow: hidden;
  cursor: pointer;
  padding: 2px;
  transition: all 0.1s ease-in-out;
}
#main #main_inner #menu #switcher[state='overview'] {
  border-color: rgba(0, 136, 255);
}
#main #main_inner #menu #switcher[state='overview'] #state {
  background: rgba(0, 136, 255);
}
#main #main_inner #menu #switcher[state='cashier'] {
  border-color: #00ffaa;
}
#main #main_inner #menu #switcher[state='cashier'] #state {
  background: rgba(0, 255, 170);
}
#main #main_inner #menu #switcher:hover {
  border-width: 4px;
  padding: 2px;
}
#main #main_inner #menu #switcher:active {
  padding: 4px;
}
#main #main_inner #menu #switcher #state {
  width: 100%;
  height: 100%;
  background: #777;
  border-radius: 100%;
}
#main #main_inner #menu #user {
  position: absolute;
  bottom: 20px;
  width: 50px;
  height: 50px;
  background: #777;
  border-radius: 40px;
  overflow: hidden;
  cursor: pointer;
}
#main #main_inner #menu #user #profile {
  width: 100%;
  height: 100%;
  border-radius: 40px;
  overflow: hidden;
  text-align: center;
  color: white;
  padding: 12px 10px;
}
#main #main_inner #menu #user #profile:hover {
  background: #555;
}
#main #main_inner #content {
  position: absolute;
  left: 70px;
  width: calc(100% - 70px);
  height: 100%;
  min-height: 400px;
  background-color: transparent;
  padding: 30px;
}
#main #main_inner #content #inventory {
  float: left;
}
#main #main_inner #content #inventory .item {
  float: left;
  width: 120px;
  height: 30px;
  padding: 4px 7px;
  background-color: white;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
#main #main_inner #content #inventory .item .name {
  font-size: medium;
}
#main #main_inner #content #inventory .item .amount {
  margin-top: 2px;
  float: right;
  font-size: small;
}
#main #main_inner #content #inventory .item .amount::after {
  content: 'x';
}
#main #main_inner #register {
  position: fixed;
  width: 250px;
  height: 450px;
  top: 50%;
  left: 50%;
  margin-left: -125px;
  margin-top: -225px;
}
#main #main_inner #register h2 {
  text-align: center;
  width: 100%;
}
input {
  width: 100%;
  height: 50px;
  padding: 5px 12px;
  border: none;
  background: #ddd;
  margin-bottom: 10px;
  outline: none !important;
  border-radius: 5px;
  font-size: 13pt;
}
input:focus {
  background: #ccc;
}
input:last-child {
  margin-bottom: 0px;
}
input[type='submit'] {
  color: white;
  background: #08f;
  cursor: pointer;
}
input[type='submit']:hover {
  background: #33a0ff;
}
input[type='submit']:active {
  background: #66b8ff;
}
input#signup {
  color: white;
  background: #08f;
  cursor: pointer;
}
input#signup:hover {
  background: #33a0ff;
}
input#signup:active {
  background: #66b8ff;
}
button {
  background: #eee;
  color: black;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}
button.accept {
  background: #0b9e37;
}
button.cancel {
  background: #aa2b1a;
}
#login {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: #eee;
}
#login #form {
  position: fixed;
  width: 300px;
  height: 400px;
  margin-left: -150px;
  left: 50%;
  top: 100px;
}
#login #form #logo {
  position: relative;
  float: left;
  width: 100%;
  height: 180px;
  background-color: transparent;
}
#login #form #logo #logoimage {
  position: relative;
  width: 78px;
  height: 80px;
  background: rgba(0, 136, 255, 0.5);
  top: 50%;
  left: 50%;
  margin-top: -40px;
  margin-left: -40px;
  border-radius: 100%;
}
#login #form #other {
  margin-top: 10px;
  width: 100%;
  height: auto;
  padding: 10px 5px;
  color: #0c4c83;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
#login #form #other * {
  text-decoration: none;
  color: #0c4c83;
}
#login #form #other #left {
  float: left;
  width: 50%;
  height: auto;
}
#login #form #other #left a {
  float: left;
}
#login #form #other #right {
  float: right;
  width: 50%;
  height: auto;
}
#login #form #other #right a {
  float: right;
}
#prompter {
  z-index: 999;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.6);
  display: none;
}
#prompter #inputholder {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 125px;
  margin-left: -150px;
  margin-top: -72.5px;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}
#prompter #inputholder button {
  float: right;
  color: white;
  margin-left: 7px;
}
@keyframes loader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes loader {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
